{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Task List</title>
{% endblock %}

{% block content %}
{% load custom_tags %}
<link rel="stylesheet" href="{% static 'css/style_form.css' %}">
    <h1>{{ task.title }}</h1>
    <p><b>Description:</b> {{ task.description }}</p>
    <p><b>Priority: </b>{{ task.priority }}</p>
    <p><b>Due date: </b>{{ task.due_date }}</p>
    <a class="btn btn-primary" href="{% url 'task-update' task.pk %}">Update task</a>


    <form class="comment-form" method="post" action="{% url 'task-detail' task.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <div class="d-flex justify-content-end"><button type="submit">Submit</button></div>
    </form>

    <h3>Comments</h3>
    <ul class="list-group">
        {% for comment in task.comments.all %} 
            <li> 
                <p>Creator: {{ comment.creator }}</p> 
                <p>{{ comment.content }}</p> 
                {% if comment.media %} 
                    {% if comment.media.url|endswith:".jpg" or comment.media.url|endswith:".png" or comment.media.url|endswith:".jpeg" %} 
                        <img src="{{ comment.media.url }}" alt="img"> 
                    {% elif comment.media.url|endswith:".mp4" %} 
                        <video width="max" height="10" controls> 
                            <source src="{{ comment.media.url }}" type="video/mp4" > 
                        </video> 
                    {% else %} 
                        <a href="{{ comment.media.url }}">Download</a> 
                    {% endif %} 
                {% endif %}
                {% if comment.creator == request.user %}
                    <a class="btn btn-primary" href="{% url 'comment-update' comment.pk %}">Update comment</a>
                    <a class="btn btn-danger" href="{% url 'comment-delete' comment.pk %}">Delete comment</a>
                {% endif %}
                <form method="post" class="likeForm" action="{% url 'comment-toggle-like' comment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm {% if request.user in comment.likes.all %}btn-success{% else %}btn-outline-success{% endif %}">
                        Like {{comment.likes.count}}
                    </button>
                </form>
            </li> 
        {% endfor %}
      </ul>
{% endblock %}
