{% extends 'base.html' %}

{% block title %}
<title>Task List</title>
{% endblock %}

{% block content %}
<form method="get">
    {{ form.status.label_tag }}
    {{ form.status }}
    <button type="submit">Submit</button>
</form>
<br>
<div class="container">
    <div class="row">
        {% for priority in priorities %}
            <div class="col-md-4">
                <h3>{{priority}} Priority</h3>
                <div class="list-group">
                    {% for task in tasks %}
                    {% if task.get_priority_display == priority %}
                        {% include "task_tracker/_task_list_item.html" %}
                    {% endif %}
                {% empty %}
                    <p>No tasks found</p>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}